<h1>Film Site</h1>
<h2>Films List</h2>
<div *ngIf='!selectedFilm'>
  <div *ngFor='let film of films'>
    <h4 (click)='displayFilm(film)'>{{film.title}}</h4>
  </div>
</div>
<div *ngIf='!selectedFilm'>
  <h4>Create a New Film</h4>
  <form name="newFilmForm">
    <input type="text" name="title" placeholder="Title" [(ngModel)]="newFilm.title">
    <input type="text" name="description" placeholder="Description" [(ngModel)]="newFilm.description">
    <input type="text" name="releaseYear" placeholder="Release Year" [(ngModel)]="newFilm.releaseYear">
    <input type="text" name="rentalRate" placeholder="Rental Rate" [(ngModel)]="newFilm.rentalRate">
    <input type="text" name="length" placeholder="Length" [(ngModel)]="newFilm.length">
    <input type="text" name="replacementCost" placeholder="Replacement Cost" [(ngModel)]="newFilm.replacementCost">
    <input type="text" name="rating" placeholder="Rating" [(ngModel)]="newFilm.rating">
    <input type="text" name="language" placeholder="Language" [(ngModel)]="newFilm.language">
    <input type="submit" name="newFilmSubmit" (click)="addFilm()">

  </form>
</div>
<div *ngIf='selectedFilm && !editFilm'>
  <h4>{{selectedFilm.title}}</h4>
  <p>
    <b>Description: </b>{{selectedFilm.description}}</p>
  <p>
    <b>Release Year: </b>{{selectedFilm.releaseYear}}</p>
  <p>
    <b>Rental Rate: </b>{{selectedFilm.rentalRate}}</p>
  <p>
    <b>Length: </b>{{selectedFilm.length}}</p>
  <p>
    <b>Replacement Cost: </b>{{selectedFilm.replacementCost}}</p>
  <p>
    <b>Rating: </b>{{selectedFilm.rating}}</p>
  <p>
    <b>Language: </b>{{selectedFilm.language}}</p>
  <table>
    <thead>
      <b>Actors</b>
    </thead>
    <tbody>
      <tr *ngFor='let actor of selectedFilm.actors'>
        <td>{{actor.firstName}} {{actor.lastName}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)='selectedFilm = null'>Back</button>
  <button (click)='setEditFilm()'>Edit</button>
  <button (click)='deleteFilm()'>Delete</button>
</div>
<div *ngIf='editFilm'>
  <h4>Edit Film</h4>
  <form name="editFilmForm">
    <input type="text" name="title" [(ngModel)]="editFilm.title">
    <input type="text" name="description" [(ngModel)]="editFilm.description">
    <input type="text" name="releaseYear" [(ngModel)]="editFilm.releaseYear">
    <input type="text" name="rentalRate" [(ngModel)]="editFilm.rentalRate">
    <input type="text" name="length" [(ngModel)]="editFilm.length">
    <input type="text" name="replacementCost" [(ngModel)]="editFilm.replacementCost">
    <input type="text" name="rating" [(ngModel)]="editFilm.rating">
    <input type="text" name="language" [(ngModel)]="editFilm.language">
    <button (click)="editFilm = null">Cancel</button>
    <button (click)="updateFilm(editFilm)">Save</button>
  </form>
</div>

<h2>Actors List</h2>
<div *ngIf='!selectedActor'>
  <div *ngFor='let actor of actors'>
    <h4 (click)='displayActor(actor)'>{{actor.firstName}} {{actor.lastName}}</h4>
  </div>
</div>
<div *ngIf='!selectedActor'>
  <h4>Create a New Actor</h4>
  <form name="newActorForm">
    <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="newActor.firstName">
    <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newActor.lastName">

    <input type="submit" name="newActorSubmit" (click)="addActor()">

  </form>
</div>
<div *ngIf='selectedActor && !addingToFilm'>
  <h4>{{selectedActor.firstName}} {{selectedActor.lastName}}</h4>
  <table>
    <thead>
      <b>Films</b>
    </thead>
    <tbody>
      <tr *ngFor='let film of selectedActor.films'>
        <td>{{film.title}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)='selectedActor = null'>Back</button>
  <button (click)='deleteActor()'>Delete</button>
  <button (click)='addingToFilm = true'>Add to Film</button>
</div>
<div *ngIf='addingToFilm'>
  <ul>
    <li *ngFor='let film of films' (click)='addActorToFilm(selectedActor, film)'>{{film.title}}</li>
  </ul>
</div>
